:root {
  --background: #ffffff;
  --foreground: #171717;
}
@layer utilities {
  @keyframes loadbar {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  .animate-loadbar {
    animation: loadbar 5s linear forwards;
    transform: translateX(-100%);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
